@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&display=swap');

:root{
    --font-timer: Arial, Helvetica, sans-serif;
    --colorbotoes1: #fe7062;
    --colorbotoes2: #ad4d44;
    --colorazulescuro1: #09005d;
    --colorazulescuro2: #7D96F5;
    --colorazulescuro3: #91b3fa;
    --colorazulescuro4: #BCD1FB;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #eaf0fd;   
}

main {
    height: calc(90vh - 40px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/BackgroundWEB2.png);
    background-size: 736px;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.display {
    /* margin-top: calc(50vh - 150px); */
    margin-top: calc(40vh - 150px);
    height: 300px;
    width: 300px;
    background-color: rgba(255, 255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/Design2.png);
    background-repeat: no-repeat;
    background-size:contain;
}

.display_time {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: rgba(64, 238, 171, 0);
    border: 50px 20px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#time {
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family: var(--font-timer);
    letter-spacing: 10px;
    margin-left: 10px;
}

.display_time-botoes {
    display: grid;
}

#btn-start {
    font-family: Arial, Helvetica, sans-serif;
    width: 45px;
    height: 15px;
    position:absolute;
    margin-top: -150px;
    margin-left: 110px;
    cursor: pointer;
    transform: rotate(45deg);
    border: none;
    background-color: var(--colorbotoes1);
    color: var(--colorazulescuro1);
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.0);
    text-decoration: none;
}

@media(hover: hover) and (pointer: fine) {
    #btn-start:hover {
        position: absolute;
        margin-top: -145px;
        margin-left: 105px;
        cursor: pointer;
        transform: rotate(45deg);
        border: none;
        background-color: var(--colorbotoes1);
        color: var(--colorazulescuro1);
    }
}

#btn-start:focus {
    margin-top: -143px;
    margin-left: 103px;
    cursor: pointer;
    transform: rotate(45deg);
    border: none;
    background-color: var(--colorbotoes2);
    color: white;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.0);
}

#btn-reset {
    width: 45px;
    height: 15px;
    position:absolute;
    margin-top: -151px;
    margin-left: -156px;
    cursor: pointer;
    transform: rotate(-45deg);
    border: none;
    background-color: var(--colorbotoes1);
    color: var(--colorazulescuro1);
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.0);
    transition: 0.01s linear;
}

@media(hover: hover) and (pointer: fine) {
    #btn-reset:hover {
        width: 45px;
        height: 15px;
        position:absolute;
        margin-top: -145px;
        margin-left: -150px;
        cursor: pointer;
        transform: rotate(-45deg);
        border: none;
        background-color: var(--colorbotoes2);
        color: white;
        font-size: 12px;
        transition: 0.01s linear;
    }
}

#btn-stop {
    display: flex;
    position: absolute;
    margin-top: -500px;
}

#textarea {
    width: 200px;
    height: 55px;
    box-shadow: none;
    outline: none;
    border: none;
    text-align: center;
    color: var(--colorazulescuro3);
    font-weight: bold;
    font-family: var(--font-timer);
    font-size: 14px;
    display: flex;
    justify-content: center;
}

#btn-share {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    color: #ffffff;
    font-size: 50px;
    background-color: var(--colorbotoes1);
    text-decoration: none;
    font-weight:lighter;
    font-size: 18px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--colorazulescuro1);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .3s linear;
    margin-top: 1vh;
}


#btn-share:hover{
    transform: scale(1.1);
    background-color: var(--colorbotoes2);
}


#btn-share-span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:var(--colorbotoes1);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 60px;
    z-index: 999;
    transition: 0.2s linear;
    transform: translateY(0%);
    border-radius: 60px;
}


#btn-share-span:hover {
    position: absolute;
    transform: translateY(-100%);
    transition-delay: 0.3s;
}


#btn-share-2 {
    width: 100%;
    height: 100%;
    letter-spacing: 10px;
    background-color:var(--colorbotoes2);
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: -1;
    border-radius: 60px;
    position: absolute;
    line-height: 60px;
    margin-left: 10px;
}

@media(hover: hover) and (pointer: fine) {
    #btn-share-2:hover {
        width: 110%;
        height: 110%;
        position: absolute;
        z-index: 999;
        background-color:var(--colorbotoes2);
        line-height: 67px;
    }
}

#btn-share-icon {
    color: white;
    text-decoration: none;
    text-align: center;
    flex: 0.2;
    font-size: 21px;
    transition: 0.3s linear;
    z-index: 1;
}

@media(hover: hover) and (pointer: fine) {
    #btn-share-icon:hover {
        transform: scale(1.5);
    }   
}

#by-2 {
    text-decoration: none;
    color: var(--colorazulescuro3);
    font-size: 12px;
    font-weight: lighter;
    margin-top: 1px;
}

@media(hover: hover) and (pointer: fine) {
    #by-1:hover {
        color: var(--colorazulescuro2);
    }
}

#by-1 {
    text-decoration: none;
    color: var(--colorazulescuro3);
    font-size: 17px;
}

@media(hover: hover) and (pointer: fine) {
    #by-2:hover {
        color: var(--colorazulescuro2);
    }
}

footer {
    width: 100vw;
    margin: 4vh 0vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    color: var(--colorazulescuro3);
    font-weight: normal;
    bottom: 0px;
    left: 0px;
} 
